<h1> Data Cleaning and Transformation

In [1]:
# import pandas, zipfile, kaggle
import pandas as pd
import zipfile
import opendatasets as od
import datetime as dt

In [2]:
# download the kaggle dataset through opendatasets
!kaggle datasets download -d syedanwarafridi/vehicle-sales-data

Dataset URL: https://www.kaggle.com/datasets/syedanwarafridi/vehicle-sales-data
License(s): MIT
Downloading vehicle-sales-data.zip to /Users/godaarciskeviciute/Documents/VSCode_portfolio
100%|██████████████████████████████████████| 18.8M/18.8M [00:03<00:00, 8.33MB/s]
100%|██████████████████████████████████████| 18.8M/18.8M [00:03<00:00, 6.37MB/s]

In [3]:
# extract the data from the downloaded zipfile
zipfile_name = 'vehicle-sales-data.zip'
with zipfile.ZipFile(zipfile_name) as file:
    file.extractall()

In [4]:
# read the csv file as a pandas dataframe
cars = pd.read_csv('car_prices.csv')

In [5]:
# explore the data
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [6]:
cars.shape

(558837, 16)

In [7]:
cars

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [8]:
cars.describe()

,year,condition,odometer,mmr,sellingprice
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

In [9]:
# rename columns in the list
cars = cars.rename(columns= {'mmr' : 'wholesale_price'})

In [10]:
# drop duplicates
cars.drop_duplicates()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,wholesale_price,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [11]:
# drop columns irrelevant to data analysis
columns_to_drop = ['vin', 'state', 'color', 'interior', 'seller']
cars = cars.drop(columns=columns_to_drop, axis=1)
cars

,year,make,model,trim,body,transmission,condition,odometer,wholesale_price,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5.0,16639.0,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5.0,9393.0,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,45.0,1331.0,31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,41.0,14282.0,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,43.0,2641.0,66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,45.0,18255.0,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,5.0,54393.0,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,48.0,50561.0,29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,38.0,16658.0,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,34.0,15008.0,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [12]:
# check null values
cars.isnull().any()

year               False
make                True
model               True
trim                True
body                True
transmission        True
condition           True
odometer            True
wholesale_price     True
sellingprice        True
saledate            True
dtype: bool

In [13]:
cars.isnull().sum()

year                   0
make               10301
model              10399
trim               10651
body               13195
transmission       65352
condition          11820
odometer              94
wholesale_price       38
sellingprice          12
saledate              12
dtype: int64

In [14]:
# drop rows with null values
cars = cars.dropna()

In [15]:
# fix column 'body' format
cars['body'].unique()

array(['SUV', 'Sedan', 'Convertible', 'Coupe', 'Wagon', 'Hatchback',
       'Crew Cab', 'G Coupe', 'G Sedan', 'Elantra Coupe', 'Genesis Coupe',
       'Minivan', 'Van', 'Double Cab', 'CrewMax Cab', 'Access Cab',
       'King Cab', 'CTS Coupe', 'SuperCrew', 'E-Series Van',
       'Extended Cab', 'SuperCab', 'G Convertible', 'Koup', 'Regular Cab',
       'Quad Cab', 'CTS-V Coupe', 'sedan', 'G37 Convertible', 'Club Cab',
       'Xtracab', 'Q60 Convertible', 'CTS Wagon', 'G37 Coupe', 'Mega Cab',
       'Cab Plus 4', 'Q60 Coupe', 'Beetle Convertible', 'TSX Sport Wagon',
       'Promaster Cargo Van', 'Cab Plus', 'GranTurismo Convertible',
       'CTS-V Wagon', 'Ram Van', 'convertible', 'minivan', 'Transit Van',
       'van', 'regular-cab', 'suv', 'g sedan', 'g coupe', 'hatchback',
       'king cab', 'supercrew', 'g convertible', 'coupe', 'crew cab',
       'wagon', 'e-series van', 'regular cab', 'quad cab',
       'g37 convertible', 'supercab', 'extended cab', 'crewmax cab',
       'double cab', 'genesis coupe', 'access cab', 'mega cab', 'xtracab',
       'beetle convertible', 'cts coupe', 'koup', 'club cab',
       'elantra coupe', 'q60 coupe', 'cts-v coupe', 'transit van',
       'granturismo convertible', 'tsx sport wagon',
       'promaster cargo van', 'q60 convertible', 'cab plus 4',
       'cts wagon'], dtype=object)

In [16]:
cars.loc[:,'body']=cars.loc[:,'body'].str.capitalize()

In [17]:
# fix column 'saledate' format
cars.loc[:,'saledate']=pd.to_datetime(cars.loc[:,'saledate'], format='mixed', utc=True).dt.tz_convert(None)

In [18]:
cars

,year,make,model,trim,body,transmission,condition,odometer,wholesale_price,sellingprice,saledate
0,2015,Kia,Sorento,LX,Suv,automatic,5.0,16639.0,20500.0,21500.0,2014-12-16 04:30:00
1,2015,Kia,Sorento,LX,Suv,automatic,5.0,9393.0,20800.0,21500.0,2014-12-16 04:30:00
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,45.0,1331.0,31900.0,30000.0,2015-01-14 20:30:00
3,2015,Volvo,S60,T5,Sedan,automatic,41.0,14282.0,27500.0,27750.0,2015-01-28 20:30:00
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,43.0,2641.0,66000.0,67000.0,2014-12-18 04:30:00
...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,39.0,66403.0,20300.0,22800.0,2015-07-06 23:15:00
558833,2012,Ram,2500,Power Wagon,Crew cab,automatic,5.0,54393.0,30200.0,30800.0,2015-07-08 02:30:00
558834,2012,BMW,X5,xDrive35d,Suv,automatic,48.0,50561.0,29800.0,34000.0,2015-07-08 02:30:00
558835,2015,Nissan,Altima,2.5 S,Sedan,automatic,38.0,16658.0,15100.0,11100.0,2015-07-08 23:45:00
558836,2014,Ford,F-150,XLT,Supercrew,automatic,34.0,15008.0,29600.0,26700.0,2015-05-27 22:30:00

In [19]:
# export csv file for data analysis
cars.to_csv('cars.csv', index=False)